.filter-tabs {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 40px 0 20px;
}

.tab-button {
  padding: 10px 24px;
  background-color: #fff;
  color: #111;
  font-weight: 600;
  border-radius: 6px;

  cursor: pointer;
  transition: all 0.2s ease;
}

.tab-button:hover {
  background-color: #b56565;
  color: white;
  box-shadow: none;
  transform: translate(2px, 2px);
}
