.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.signup-box {
  background: white;
  padding: 30px 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.signup-box h2 {
  margin-bottom: 10px;
}

.signup-box p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #777;
}

.signup-box input {
  width: 100%;
  padding: 12px 18px;
  margin-bottom: 15px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 999px;
  outline: none;
}

.signup-box button {
  width: 100%;
  padding: 12px 18px;
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 999px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.signup-box button:hover {
  background-color: #27ae60;
}
